body{
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.728);
}
h1{
    color: rgb(115, 0, 255);
}
form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.441); 
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(255, 0, 0);
    font-size: 1.5em;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
     background-color: rgb(243, 86, 149);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}